// import bootstrap default style
@import "/node_modules/bootstrap/scss/bootstrap.scss";

// import custom style
// @import "../assets/base.css";
// @import "../assets/main.css";

// import google Font 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Override style
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: $black;
}

@media (max-width: 1000px) {

    // override col style 
    div[class^='col-sm'] {
        width: 100vw;
        margin: 10px 0;
    }

    div[class^='container'] {
        padding: 0;
    }
}